<div class="container" data-ng-controller="HeaderController">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-padding">
        <a class="navbar-brand" data-ui-sref="home">
            Strength in Numbers
        </a>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#services">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <!-- Profile -->
                    <li>
                        <div ng-show="authentication.user" class="navbar-brand pull-right" data-ui-sref="profile">
                            {{authentication.user.displayName}}
                        </div>
                    </li>
                    <li>
                        <div ng-hide="authentication.user" class="navbar-brand pull-right" data-ui-sref="authentication.signin">
                            Login
                        </div>
                    </li>
                    <li>
                        <div ng-hide="authentication.user" class="navbar-brand pull-right" data-ui-sref="authentication.signup">Signup
                        </div>
                    </li>
                    <li>
                        <div ng-show="authentication.user" class="navbar-brand pull-right" ng-click="logout()">
                            Logout
                        </div>
                    </li>
                </ul>
            </div>
      </div>
    </nav>
</div>
