<div class="content-main " ng-controller="HomeController">
  <section class="top">
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        </div>
      </div>
      <br>
      <div class="row heading">
        <h1>
          Start your journey into the world of connected fitness!
        </h1>
      </div>
    </div> <!-- End Jumbotron Text -->
    <div class="inputdata">
        <div class="row data">
             <form name ="addForm" novalidate>
                <div class ="form-group">
                  <input type="text" id="addressTextField" size="100" placeholder="Enter Address" ng-model="formData.username" required>
                  
                  <select ng-model="selectedGymType" ng-options="type.name for type in gymType" placeholder="Type of Gym"></select>
               
                  <select ng-model="selectedBusinessType" ng-options="type.name for type in businessType" placeholder="Type of Gym"></select>

                </div>
                <div class="form-group">
                    <button data-ui-sref="map" type="submit" ng-click = "startGservice()" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid">Go</button>
                </div>
             </form>
        </div>
    </div>
  </section>
   <section class="sections" id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">How it works</h2>
                  <hr class="primary">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 text-center">
                  <div class="service-box">
                      <img src="http://placehold.it/500x500">
                      <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                      <h3>Search for a Gym</h3>
                      <p class="text-muted">Search for wherever you would like to go to work out</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Add a Gym</h3>
                    <p class="text-muted">If you own a personal gym go ahead and post it</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://placehold.it/500x500">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://placehold.it/500x500">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Check out our app as well!</h3>
                    <p class="text-muted">This way you can stay mobile while you track your places!</p>
                </div>
            </div>
        </div>
      </div>
    </section>
    <section class="sections" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Name
                    <small>Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>

            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Name
                    <small>Job Title</small>
                </h3>
                <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>

            </div>
        </div>
    </section>
  <!--   <div class="text-center footer">&copy; Strenght in Numbers, 2016.</div> -->
</div>
