<div class="content-main " ng-controller="HomeController">
  <section class="top">
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
        </div>
      </div>
      <br>
      <div class="row heading">
        <h1>
          Start your journey into the world of connected fitness!
        </h1>
      </div>
    </div> <!-- End Jumbotron Text -->
    <div class="inputdata">
        <div class="row data">
             <form name ="addForm" novalidate>
                <div class ="form-group">
                  <input type="text" id="addressTextField" size="100" placeholder="Enter Address" ng-model="formData.username" required>
                  
                  <select class="pull-right" ng-model="selectedGymType" ng-options="type.name for type in gymType" placeholder="Type of Gym"></select>
               
                  <select class="pull-right" ng-model="selectedBusinessType" ng-options="type.name for type in businessType" placeholder="Type of Gym"></select>

                </div>
                <div class="form-group">
                    <button data-ui-sref="map" type="submit" ng-click = "startGservice()" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid">Go</button>
                </div>
             </form>
        </div>
    </div>
  </section>
   <section class="sections" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading"> How it works</h2> 
                  <hr class="primary">
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 text-center">
                  <div class="service-box">
                    <img class="image-limit" src="modules/core/img/servicemap.jpg">
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                  <div class="service-box">
                      <div class="text-box">
                        <h3>Search for a Gym</h3>
                        <p class="text-muted">Search for wherever you would like to go to work out</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <div class="text-box">
                      <h3>Add a Gym</h3>
                      <p class="text-muted">If you own a personal gym go ahead and post it</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                     <img class="image-limit" src="http://bw-bc5fcb0018cecacba559dc512740091b-bwcore.s3.amazonaws.com/articles/theSET2.jpg">
                </div>
            </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img class="image-limit" src="http://cms.bbcomcdn.com/fun/images/2011/5-ways-make-your-gym-mecca-of-muscle_c.jpg">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <div class="text-box">
                      <h3>Check out our app as well!</h3>
                      <p class="text-muted">This way you can stay mobile while you track your places!</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <section class="sections" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-size img-circle img-responsive img-center" src="modules/core/img/davepic.png" alt="">
                <h3>David Yeung
                    <small>Developer</small>
                </h3>
                <p>Develop stuff!</p>

            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-size img-circle img-responsive img-center" src="modules/core/img/bsnave.png" alt="">
                <h3>Bryan Snavely
                    <small>Developer</small>
                </h3>
                <p>Develop more stuff!</p>

            </div>
        </div>
    </section>
</div>
