<div class="content-main" data-ng-controller="ProfileController">
	<div class="container profile-content">
		<div class="row">
			<toast></toast>
		</div>
		<div class="row">
			<div class="profile-side col-md-3">
				<img class="profile-image" src="http://placehold.it/220x220">
				</img>
				<br>
				<button data-ui-sref="form">Add a form</button>
			</div>
			<div class="profile-body col-md-7 col-md-offset-1">
				<div class="profile-sections">
					<div class="profile-heading">
						<h1>Test Post</h1>
					</div>
					<div class="profile-body">
						<p>Description here</p>
						<p>Location here</p>
						<p>Contact information</p>
					</div>
				</div>
				<div class="profile-sections">
					<div class="profile-heading">
						<h1>Test Post</h1>
					</div>
					<div class="profile-body">
						<p>Description here</p>
						<p>Location here</p>
						<p>Contact information</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>