.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.navbar-padding{
  padding-left:10px;
  padding-right:10px;
}
.content-main{
  margin-top: 50px;
  margin-bottom:50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.top {
  height:600px;
}
.jumbotron {
    padding-top:100px;
    position: relative;
    background: #000 url("../img/header.jpg") center center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #fff;
    z-index: -1;

}

.jumbotron h1 {
    font-size: 30px;
    font-weight: 700;
}
.jumbotron p {
    font-size: 16px;
/*    color: rgba(255,255,255,.7);
*/}
.jumbotron .row .data {
  padding:50px;
}
.inputdata {
  padding:50px;
  margin-top:-200px;
  float:center;
}
.sections {
  margin-top:100px;
  height:100%;
  margin-bottom:100px;
}
.sections .container {
  margin-top:50px;
  margin-bottom:50px;
}
.img-center {
  margin: 0 auto;
}

.footer {
  width:100%;
  padding-top: 42px;
  padding-bottom: 30px;
  background: #252525;
  color: #B9B9B9;
}